.venv/
src/de_etl_pipeline_loja/data/raw/vendas.csv
# Segurança
.env
*.env

# Logs do Airflow
**/logs/
airflow/logs/

# Python
__pycache__/
*.pyc
*.pyo

# Dados locais
**/data/bronze/
**/data/silver/
**/data/gold/
de_postgres_medalhao/data/
de_lakehouse_completo/data/
*.parquet
*.snappy.parquet*
**/jars/
*.jar
**/data/
*.parquet
*.snappy.parquet*
__pycache__/
.venv/
**/jars/
*.jar
**/data/
*.parquet
*.snappy.parquet*
__pycache__/
.venv/
